{%  extends "novabase.html" %}
{%  block title %}Antenatal Care Visit {%  endblock  %}
{%  block subtitle %} Antenatal Care Visit {%  endblock  %}
{% block menu %}
 		  <li class="homelink">
            <a href='/dashboards/{{ nav.link("predash", view= "graphic") }}'><span>Pregnancies</span></a>
          </li>
          <li class="homelink">
            <a href='/dashboards/{{ nav.link("ancdash", view= "graphic") }}'><span>ANC</span></a>
          </li>
          <li class="homelink">
            <a href='/dashboards/{{ nav.link("deliverynotdash", view= "graphic") }}'><span>Deliveries Notifications</span></a>
          </li>
          <li class="homelink">
            <a href='/dashboards/{{ nav.link("deliverydash", view= "graphic") }}'><span>Deliveries</span></a>
          </li>
         
         
          
          
{% endblock %}


{% block position %}
<li>&#187; <a href="/dashboards/ancdash">ANC</a></li>
{% if group %}
<li> &#187; {{ group }}</li>
{% endif %}
{% endblock %}






{%  block mainpart  %}


<div class="smallcontainer">
    <div class="infoname">Total Pregnancies</div>
    <div class="moretotal" ><a href="{{ nav.link('/tables/ancdash', group = 'anc1', summary = 'on')}}">View by Location</a></div>
    <div class="infodata goodnum playable">
      <a href="{{ nav.link('/tables/ancdash', group = 'anc1')}}">{{  display.pre[0]['total']|neat_numbers}}</a>
    </div>
    <div class="graphicard">
      
    </div>

    
  </div>
  <div class="humblecontainer">
    {%  include "basicdisplay.html"  %}
  </div>


{%  endblock  %}
