{% if pid %}
<div class="final">

<div class="firstsection">
{%  for row in display.nat.list() %} 
	{%  for col in display.cols %}
      <div class="property">
			<div class="name">
        {%  set mkp = display.markup[col[0]] %}
        {{ col[1] }} :</div>
         <div class="value">
        {%  if  mkp %}
        {{  mkp(row[col[0]], row, col)  }}
        {%  else  %}
        {{  row[col[0]]  }}
        {% endif %}
        </div>
           
  </div>
        {%  endfor  %}
 
</div>
        <div class="intro">
        
        {%  if  display.attrs %}
       <h3>More Information:</h3>
          {%  for bc in display.attrs %}
          {%  if  row[bc[0]] == True %}
          <div class="more">
         {{  bc[1] }}<br>
          </div>
          {% endif %}
          
          {%  endfor  %}
        
        {%  endif %}
      </div>
    {%  endfor  %}
<br><br>
</div>

{% else %}
 {%  set cpg, rng, pgs = nav.pages(display.nat) %}
 {{ cpg }}-
 {{ pgs }}-
 {{ rng }}
<div class="tdesc">
<a href="">{{ display.desc  }} (Page {{  cpg + 1 }})</a>
</div>

<div class="paginant">
  <div class="total">
    {{  display.nat.count()|neat_numbers }} Total
  </div>
  <div class="exinf">
    {{  nav.listing[-1].name  }}  {{  nav.listing[-1].title }}
  </div>
  <div class="exporter">
    <form method="POST" action="/exports/{{  ref }}">
      {%  include "hlocator.html"  %}
      {%  include "hdater.html"  %}
      <input type="hidden" value="export" name="wanna" />
      <input type="submit" value="Export" />
    </form>
  </div>
</div>
<table class="largetable">
  <thead>
    <tr>
      <th>#</th>
      {%  for col in display.cols %}
        {% if col[1] == 'LMP'%}
        <th>{{  col[1] }}</th>
	<th> EDDate </th>
	{% else %}
	<th>{{  col[1] }}</th>
	{% endif %}
      {%  endfor  %}
      {%  if  display.attrs %}<th>Attributes</th>{% endif %}
    </tr>
  </thead>
  <tbody>
    {#  {%  for row in display.nat.list() %}  #}
    {%  for row in display.nat[rng[0]:rng[1]] %}
      <tr class="{{ loop.cycle('even', 'odd')  }}">
        <td class="cnt" {% if row['high_risky'] == True %} style="background-color:red" {% endif%} >{{  rng[0] + loop.index  }}</td>
        {%  for col in display.cols %}
          {% if col[1] == 'LMP'%}
		{%  set mkp = display.markup[col[0]] %}
		<td>{{  mkp(row[col[0]], row, col) }}</td>
		<td> {{  mkp(row['edd'], row, col) }} </td>
	{% else %}
          {%  set mkp = display.markup[col[0]] %}
          <td>{%  if  mkp %}{{  mkp(row[col[0]], row, col)  }}{%  else  %}{{  row[col[0]]  }}{% endif %}</td>
        {% endif %}
        {%  endfor  %}
        {%  if  display.attrs %}
        <td>
          {%  for bc in display.attrs %}
          {%  if  row[bc[0]] == True %}<div class="boolval">{{  bc[1] }}</div>{% endif %}
          {%  endfor  %}
        </td>
        {%  endif %}
      </tr>
    {%  endfor  %}
  </tbody>
</table>
<div class="paginant">
  <div class="navigant">
    <ul>
    <li><a href="./{{ nav.link(ref, page = cpg + 1)  }}">{{ cpg + 1 }}</a></li>
    <li><a href="./{{ nav.link(ref, page = cpg + 2)  }}">{{ cpg + 2 }}</a></li>
    <li><a href="./{{ nav.link(ref, page = cpg + 3)  }}">{{ cpg + 3 }}</a></li>
    <li><a href="./{{ nav.link(ref, page = page)  }}">{{ cpg + 4 }}</a></li>
    {#  {%  for page  in pgs  %}
      {{ page }}
        <li>{%  if cpg == page  %}{{  loop.index  }}{%  else  %}<a href="./{{ nav.link(ref, page = page)  }}">{{ loop.index  }}</a>{% endif %}</li>
      {%  endfor  %}
   #}
   
    </ul>
  </div>
</div>
{% endif %}
