{%  extends "novabase.html" %}
{%  block title %}Community Case Management {%  endblock  %}
{%  block subtitle %} Community Case Management {%  endblock  %}
{%  block trunkstyle  %} style="background: url('{{ static_path }}/images/anc.jpg') no-repeat fixed center"{%  endblock  %}

{% block menu %}
		 <li class="">
            <a href='/dashboards/{{ nav.link("ccmdash", view= "graphic") }}'><span>CCM</span></a>
          </li>
          <li class="homelink">
            <a href='/dashboards/{{ nav.link("vaccindash", view= "graphic") }}'><span>Vaccinations</span></a>
          </li>
{% endblock %}



{%  block mainpart  %}

<div class="smallcontainer">
   
     <img class="icon" src="{{  static_path }}/images/ccm.jpg" />
    <div class="infoname" style="font-size: 20px;">Number of Children</div>
    <div class="moretotal" ><a href="{{ nav.link('/tables/ccmdash', summary = 'on')}}">View by Location</a></div>
    <div class="infodata goodnum">
      <a href="{{ nav.link('/tables/ccmdash', view = 'log' )}}">{{  display.ccm[0]['total']|neat_numbers }}</a>
    </div>
    
    
    
  </div>
  <div class="humblecontainer">

	{%  for ca in display.ccm_attrs %}
	  <div class="datapoint  childhealthcircle">
	  
	    {%  set num = display.ccm[0][ca[0]] %}
	    
	    <div class="descr">{{  ca[1] }}</div>
	    <div class=" startshidden" >
		 <a href="/tables/{{  nav.link('ccmdash', subcat = ca[0], minus = ['pid', 'id'], summary = 'on')  }}">View by Location</a>
	    </div>
	    <div class="number">
		{% if  num %}<a href="/tables/{{  nav.link('ccmdash', subcat = ca[0], minus = ['pid', 'id'], view = 'log')  }}">{{ num|neat_numbers }}</a>
		{% else  %}  {{  num|neat_numbers }}  {%  endif %}
	    </div>
	    
  	   </div>
	{%  endfor  %}

  </div>

  <div class="humblecontainer">

    <div class="infoname" style="padding-left:200px; padding-top:50px; padding-bottom: 20px;">Interventions</div>
    

	{%  for ra in display.cmr_attrs %}
	  <div class="datapoint  childhealthcircle">
	  
	    {%  set num = display.cmr[0][ra[0]] %}
	    
	    <div class="descr">{{  ra[1] }}</div>
	    <div class=" startshidden" >
		 <a href="/tables/{{  nav.link('ccmdash', subcat = ra[0], minus = ['pid', 'id'], summary = 'on')  }}">View by Location</a>
	    </div>
	    <div class="number">
		{% if  num %}<a href="/tables/{{  nav.link('ccmdash', subcat = ra[0], minus = ['pid', 'id'], view = 'log')  }}">{{ num|neat_numbers }}</a>
		{% else  %}  {{  num|neat_numbers }}  {%  endif %}
	    </div>
	    
  	   </div>
	{%  endfor  %}
 
    
  </div>



{%  endblock  %}
