{%  extends "novabase.html" %}
{%  block title %}Nutrition {%  endblock  %}
{%  block subtitle %} Nutrition {%  endblock  %}
{%  block trunkstyle  %} style="background: url('{{ static_path }}/images/anc.jpg') no-repeat fixed center"{%  endblock  %}
{%  block mainpart  %}
<div class="smallcontainer" style="padding-top:50px;">

   <div class="space">   
<div class="datapointrisks">
    <div class="moreoptions startshidden" > <a href="">View by Location</a></div>
    <img src="{{  static_path }}/images/underwieght.png" />
  </div>
  <div class="descrrisk1">underweight: <a>231</a></div>
 </div>
 
 <div class="space">   
<div class="datapointrisks">
    <div class="moreoptions startshidden" > <a href="">View by Location</a></div>
    <img src="{{  static_path }}/images/breastfeeding.jpg" style="max-height:120px;" />
  </div>
  <div class="descrrisk1">Breast Fed: <a>231</a></div>
 </div>
 
  </div>
  <div class="humblecontainer">
  <div class="descrrisk1" >
    <span>Waisting:<a>234</a></span>
    <span>stunting:<a>304</a></span><br><br>
    <br><br></div>
    <div style="padding-left: 150px;">
    <div class="datapoint">
    <div class="descr">Exclusive</div>
    <div class="number"><a>654</a></div>
  </div>
  <div class="datapoint">
    <div class="descr">Complementry</div>
    <div class="number"><a>654</a></div>
  </div>
  </div>
   </div>
  
{%  endblock  %}
