{%  extends "novabase.html" %}
{%  block title %}{{  nav.listing[-1].name  }} {{  nav.listing[-1].title }} Vaccinations {%  endblock  %}
{%  block subtitle %} Death Reports {%  endblock  %}
{%  block trunkstyle  %} style="background: url('{{ static_path }}/images/vacc.jpg') no-repeat fixed center"{%  endblock  %}
{% block menu %}
	
          <li class="homelink">
            <a href="/dashboards/reddash?view=graphic"><span>RedAlert</span></a>
          </li>
          <li class="homelink">
            <a href="/dashboards/deathdash?view=graphic"><span>Deaths</span></a>
          </li>
{% endblock %}
{%  block mainpart  %}
  <div class="smallcontainer">
    <div class="infoname reddeathtext" style="font-size:24px; padding-top:20px;">Total Deaths</div>
    <div class="moretotal" ><a href="{{ nav.link('/tables/deathdash', summary = 'on')}}">View by Location</a></div>
    <div class="infodata goodnum">
      <a href="{{ nav.link('/tables/deathdash' )}}">{{  display.nat[0]['total']|neat_numbers }}</a>
    </div>
  </div>
  
{%  include "basicdisplay.html"  %}

  <div class="humblecontainer" style="margin-left:300px;">

    <div class="infoname" style="padding-left:200px; padding-top:50px; padding-bottom: 20px;">Incident Area</div>
    

	{%  for bl in display.bylocs_attrs %}
	  <div class="datapoint" style="height:200px;">
	  
	    {%  set num = display.bylocs[0][bl[0]] %}
	    <img class="icon" src="{{  static_path }}/images/{{  bl[1] }}.png" />
	    <div class="startshidden" >
		 <a href="/tables/{{  nav.link('deathdash', subcat = bl[0], minus = ['pid', 'id'], summary = 'on')  }}">View by Location</a>
	    </div>
	    <div class="number">
		{% if  num %}<a href="/tables/{{  nav.link('deathdash', subcat = bl[0], minus = ['pid', 'id'])  }}">{{ num|neat_numbers }}</a>
		{% else  %}  {{  num|neat_numbers }}  {%  endif %}
	    </div>
	    
  	   </div>
	{%  endfor  %}
 
    
  </div>
{%  endblock  %}
