{%  extends "deliverybase.html" %}
{% block menu %}
 <li class="homelink">
            <a href="/dashboards/predash"><span>Pregnancies</span></a>
          </li>
          <li class="homelink">
            <a href="/dashboards/ancdash"><span>ANC</span></a>
          </li>
          <li class="homelink">
            <a href="/dashboards/delivery"><span>Deliveries Notifications</span></a>
          </li>
          <li class="homelink">
            <a href="/dashboards/delivery"><span>Deliveries</span></a>
          </li>
         
          
           
{% endblock %}


{% block position %}

<li>&#187; Delivery</li>

{% endblock %}

{%  block mainpart  %}
  <div class="smallcontainer">
   
     <img class="icon" src="{{  static_path }}/images/delivery.jpg" />
    <div class="infoname" style="font-size: 20px;">Deliveries in Next Week</div>
    <div class="infodata goodnum">
      <a href="{{ nav.link("/tables/delivery") }}">{{  display.births|neat_numbers }}</a>
    </div>
    
    <div class="infoname" style="font-size: 20px;">Deliveries in Next two Weeks</div>
    <div class="infodata goodnum">
      <a href="{{ nav.link("/tables/delivery") }}">{{  display.births|neat_numbers }}</a>
    </div>
    
    
    
  </div>
  <div class="humblecontainer">
  <div class="infopair" style="display:block">
      <div class="prem" style="display: inline; float:left;padding-right:30px;">
        <div class="infoname">Total Deliveries</div>
        <div class="number">{{  display.expected|neat_numbers }}</div>
      </div>
      <div class="scnd" style="">
        <div class="infoname">Untracked Deliveries</div>
        <div class="number">{{  display.unknowns|neat_numbers }}</div>
      </div>
    </div>
  
    <div class="infoname" style="padding-left:150px; padding-top:50px;">Delivery Locations</div>
    <div class="vals">
      {%  for nom, loc in [('Home', 'home'), ('Clinic', 'clinic'), ('Hospital', 'hospital'), ('En Route', 'enroute')] %}
        
    <div class="datapoint">
    <div class="descr">{{ nom }}</div>
    <div class="number">{{ display.locations[loc]|neat_numbers }}</div>
    </div>
      {%  endfor  %}
    </div>
    
  </div>



{%  endblock  %}
