{%  extends "deliverybase.html" %}
{%  block mainpart  %}
  <div class="smallcontainer">
    <div class="infoname">Registered Deliveries</div>
    <div class="infodata goodnum">
      <a href="{{ nav.link("/tables/delivery") }}">{{  display.births|neat_numbers }}</a>
    </div>
    
    <div class="infoname" style="font-size: 20px;">Deliveries in Next Week</div>
    <div class="infodata goodnum">
      <a href="{{ nav.link("/tables/delivery") }}">{{  display.births|neat_numbers }}</a>
    </div>
    
    <div class="infoname" style="font-size: 20px;">Deliveries in Next two Weeks</div>
    <div class="infodata goodnum">
      <a href="{{ nav.link("/tables/delivery") }}">{{  display.births|neat_numbers }}</a>
    </div>
    
  </div>
  <div class="humblecontainer">
    <div class="explanation">Delivery Locations</div>
    <div class="vals">
      {%  for nom, loc in [('Home', 'home'), ('Clinic', 'clinic'), ('Hospital', 'hospital'), ('En Route', 'enroute')] %}
        <div class="dispval">
          <div class="infoname">{{ nom }}</div>
          <div class="sum">{{ display.locations[loc]|neat_numbers }}</div>
        </div>
      {%  endfor  %}
    </div>
    <div class="infopair">
      <div class="prem">
        <div class="infoname">Expected Deliveries</div>
        <div class="sum">{{  display.expected|neat_numbers }}</div>
      </div>
      <div class="scnd">
        <div class="infoname">Untracked Deliveries</div>
        <div class="sum">{{  display.unknowns|neat_numbers }}</div>
      </div>
    </div>
  </div>

    <!--  
  </div>
  <div class="largecontainer">
          -->
    
  </div>
  <div class="humblecontainer">


  </div>


    <!--  
  <div class="largecontainer">
    <div class="infopair">
      <div class="prem">
        <div class="infoname">Expected Deliveries</div>
        <div class="sum">{{  display.expected|neat_numbers }}</div>
      </div>
      <div class="scnd">
        <div class="infoname">Untracked Deliveries</div>
        <div class="sum">{{  display.unknowns|neat_numbers }}</div>
      </div>
    </div>
  </div>
          -->
{%  endblock  %}
