{%  extends "basicmothers.html" %}
{% block position %}

<li>&#187; <a href="/dashboards/predash">Pregnancy</a></li>

<li>&#187; {{ pid }}</li>

{% endblock %}

{%  block mainpart  %}
<h2>Patient</h2>
<table width="100%">
  <thead>
    <tr>
      <th>Patient ID</th>
      <th>Reporter Phone</th>
      <th>Province</th>
      <th>District</th>
      <th>HealthCentre</th>
      <th>Sector</th>
      <th>Cell</th>
      <th>Village</th>
    </tr>
  </thead>
  <tbody>
  <tr>
  
    <td>{{display.patient.patient_id}}</td>
    <td>{{display.patient.reporter_phone}}</td>
    <td>{{display.patient.province}}</td>
    <td>{{display.patient.district}}</td>
    <td>{{display.patient.healthcentre}}</td>
    <td>{{display.patient.sector}}</td>
    <td>{{display.patient.cell}}</td>
    <td>{{display.patient.village}}</td>
  
  </tr>
 </tbody>
</table>
<h2>Symptoms</h2>
<table width="100%">
  <thead>
    <tr>
      <th>Code</th>
      <th>Description</th>
    </tr>
  </thead>

 {%  if  display.attrs %}

        
          {%  for bc in display.attrs %}
        <tr>  {%  if  display.nat[0][bc[0].split()[0]] == True %}<td> {{bc[0].split('_')[0]}}</td><td>{{  bc[1] }}</td>{% endif %}</tr>
          {%  endfor  %}
        
        
{% else %}
  <tr>
    <td colspan=2><center>No Symptoms</center></td>
  </tr>
{% endif %}
</table>

<h2>Reminders</h2>
<table width="100%">
  <thead>
    <tr>
      <th>Type</th>
      <th>Date</th>
      <th>Reporter Phone</th>
    </tr>
  </thead>
{% if display.reminders %}
  {% for reminder in reminders %}
  <tr>
    <td></td>
    <td></td>
    <td><a href=""></a></td>
  </tr>
  {% endfor %}
{% else %}
  <tr>
    <td colspan=3><center>No reminders sent yet.</center></td>
  </tr>
{% endif %}
</table>
<h2>Reports</h2>
{% include 'report_table.html' %} 



<!-- ANC Information -->
<h1>ANC Reports</h1>
 <table width="100%">
  <thead>
    <tr>
      <th>#</th>
      <th>Date</th>
      <th>Weight</th>
    </tr>
  </thead>
  {%  for anc in display.anc_reports.list() %}
  <tr>
  <td>
  {{  anc['indexcol'] }}
  </td>
  <td>
  {{  anc['report_date'] }}
  </td>
  <td>
  {{  anc['mother_weight_float'] }}kg
  </td>
  </tr>
  {% endfor %}
  </table>




<!-- PNC information -->
<h1>PNC Reports</h1>
 <table width="100%">
  <thead>
    <tr>
      <th>#</th>
      <th>Date</th>
      <th>Status</th>
    </tr>
  </thead>
  {%  for pnc in display.pnc_reports.list() %}
  <tr>
  <td>
  {{  pnc['indexcol'] }}
  </td>
  <td>
  {{  pnc['report_date'] }}
  </td>
  <td>
  {{  pnc['mw_bool'] }}
  </td>
  </tr>
  {% endfor %}
  </table>


{%  endblock  %}
