{%  extends "basicreporting.html" %}
{%  block mainpart  %}
  <div class="smallcontainer">
    <div class="infoname">Total Reporters</div>
    <div class="infodata goodnum playable">
      <a href="{{ nav.link("/tables/reporters") }}">{{  display.total|neat_numbers }}</a>
    </div>
    <div class="graphicard">
      <img class="icon" src="{{  static_path }}/images/phonepic.png" />
    </div>
  </div>
  <div class="humblecontainer">
    <div class="datapointreport">
      <div class="descrreport">Total Reports Sent</div>
      <div class="number playable"><a href="{{  nav.link("/tables/reports") }}">{{  display.reptot|neat_numbers  }}</a></div>
     
    </div>
    <div class="datapointreport">
      <table class="participant dimensioned">
         {%  for rpt in display.rpts %}
          <tr>
            <td partname="{{  rpt['report_type'] }}">{{  rpt['nom'] }}</td>
          </tr>
        {%  endfor  %}
      </table>
    </div>
  </div>
{%  endblock  %}
